# Progetto Foundations of Computer Science (gruppo 47)

You have to work on the [University dataset](https://drive.google.com/drive/folders/1Hs3nRtK_F3h8eg59B4-TD1DEua6g8Klv?usp=sharing). It contains three different university rankings:
*  The Times Higher Education World University Ranking, shortly *Times*,
*  the Academic Ranking of World Universities, shortly *Shanghai*,
*  the Center for World University Rankings, shortly *cwur*.

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).

### Import and read files

Importazione delle librerie utilizzate

In [1]:
import pandas as pd
import numpy as np
import re
import collections as coll

Lettura e visualizzazione dei files

#### Times
- na_values='-' per impostare i valori nulli
- thousands=',' per impostare le migliaia (nella cultura anglosassone è prassi utilizzare la virgola come separatore)

In [2]:
times=pd.read_csv('timesData.csv',na_values='-',thousands=',')
times.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,2243.0,6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,NaN,94.2,7929.0,8.4,27%,45 : 55,2011

#### Shanghai

In [3]:
shanghai=pd.read_csv('shanghaiData.csv')
shanghai.head()

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005

#### Center of World University Ranking (CWUR)

In [4]:
cwur=pd.read_csv('cwurData.csv')
cwur.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

### Pre-processing

##### 1. Correzione di alcuni typos, incontrati nel punto 7, del dataset *times*

In [5]:
times.replace('Unted Kingdom','United Kingdom',inplace=True)
times.replace('Unisted States of America','United States of America',inplace=True)

##### 2. Nuova configurazione per il nominativo dell'università nel dataset *cwur*, per conformarlo ai restanti dataset

In [6]:
cwur.rename(columns={'institution':'university_name'},inplace=True)
cwur.head()

,world_rank,university_name,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

##### 3. Normalizzazione dei nomi delle università e creazione di una chiave univoca *uni_id*

Creazione di una funzione **norm_uni** per normalizzare una stringa mantenendo esclusivamente caratteri alfanumerici (in minuscolo)

In [7]:
def norm_uni(x):
    x=re.sub('[^A-Za-z0-9]+', '',str(x)).lower()
    return x

Teoricamente il numero univoco di *uni_id*  e *university_name*  per ciascun dataset dovrebbe essere lo stesso se non ci fossero problemi

In [8]:
times['uni_id']=times['university_name'].apply(norm_uni)
len(times['uni_id'].unique())==len(times['university_name'].unique())

True

In [9]:
shanghai['uni_id']=shanghai['university_name'].apply(norm_uni)
len(shanghai['uni_id'].unique())==len(shanghai['university_name'].unique())

False

In [10]:
cwur['uni_id']=cwur['university_name'].apply(norm_uni)
len(cwur['uni_id'].unique())==len(cwur['university_name'].unique())

True

Il dataset *shanghai* probabilmente contiene qualche typos o qualche variazione di nome per la stessa università

### 1. For each university, extract from the *times* dataset the most recent and the least recent data, obtaining two separate dataframes

In [11]:
least_recent_t=times.loc[times.groupby('uni_id')['year'].idxmin()]
least_recent_t.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id
501,301-350,Aalborg University,Denmark,19.0,75.3,20.0,27.1,36.4,NaN,17422.0,15.9,15%,48 : 52,2012,aalborguniversity
502,301-350,Aalto University,Finland,26.2,49.0,22.2,37.5,61.9,NaN,16099.0,24.2,17%,32 : 68,2012,aaltouniversity
166,167,Aarhus University,Denmark,38.1,33.4,55.6,57.3,61.5,49.9,23895.0,13.6,14%,54 : 46,2011,aarhusuniversity
476,276-300,Aberystwyth University,United Kingdom,19.8,63.8,15.5,56.6,35.5,NaN,9252.0,19.2,18%,48 : 52,2012,aberystwythuniversity
2404,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016,adammickiewiczuniversity

In [12]:
most_recent_t=times.loc[times.groupby('uni_id')['year'].idxmax()]
most_recent_t.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id
2003,201-250,Aalborg University,Denmark,25.1,71.0,28.4,73.8,43.7,NaN,17422.0,15.9,15%,48 : 52,2016,aalborguniversity
2056,251-300,Aalto University,Finland,31.1,65.4,32.8,62.1,61.6,NaN,16099.0,24.2,17%,32 : 68,2016,aaltouniversity
1908,=106,Aarhus University,Denmark,36.9,76.8,50.7,79.8,68.3,57.7,23895.0,13.6,14%,54 : 46,2016,aarhusuniversity
2105,301-350,Aberystwyth University,United Kingdom,21.6,72.2,18.9,67.2,31.3,NaN,9252.0,19.2,18%,48 : 52,2016,aberystwythuniversity
2404,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016,adammickiewiczuniversity

### 2. For each university, compute the improvement in `income` between the least recent and the most recent data points

In [13]:
least_most_recent=pd.merge(least_recent_t,most_recent_t,suffixes=['_lr','_mr'],on='uni_id')
least_most_recent.head()

,world_rank_lr,university_name_lr,country_lr,teaching_lr,international_lr,research_lr,citations_lr,income_lr,total_score_lr,num_students_lr,...,international_mr,research_mr,citations_mr,income_mr,total_score_mr,num_students_mr,student_staff_ratio_mr,international_students_mr,female_male_ratio_mr,year_mr
0,301-350,Aalborg University,Denmark,19.0,75.3,20.0,27.1,36.4,NaN,17422.0,...,71.0,28.4,73.8,43.7,NaN,17422.0,15.9,15%,48 : 52,2016
1,301-350,Aalto University,Finland,26.2,49.0,22.2,37.5,61.9,NaN,16099.0,...,65.4,32.8,62.1,61.6,NaN,16099.0,24.2,17%,32 : 68,2016
2,167,Aarhus University,Denmark,38.1,33.4,55.6,57.3,61.5,49.9,23895.0,...,76.8,50.7,79.8,68.3,57.7,23895.0,13.6,14%,54 : 46,2016
3,276-300,Aberystwyth University,United Kingdom,19.8,63.8,15.5,56.6,35.5,NaN,9252.0,...,72.2,18.9,67.2,31.3,NaN,9252.0,19.2,18%,48 : 52,2016
4,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,...,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016

In [14]:
least_most_recent['improvement']=least_most_recent['income_mr']-least_most_recent['income_lr']
least_most_improvement=least_most_recent[['university_name_lr','year_lr','year_mr','income_lr','income_mr','improvement']]
least_most_improvement.head()

,university_name_lr,year_lr,year_mr,income_lr,income_mr,improvement
0,Aalborg University,2012,2016,36.4,43.7,7.3
1,Aalto University,2012,2016,61.9,61.6,-0.3
2,Aarhus University,2011,2016,61.5,68.3,6.8
3,Aberystwyth University,2012,2016,35.5,31.3,-4.2
4,Adam Mickiewicz University,2016,2016,28.7,28.7,0.0

Se *year_lr* = *year_mr* l'improvement è pari a 0 (banalmente)

Quando l'improvement è *NaN*, almeno uno dei due dati è mancante e quindi la differenza non è calcolabile per ovvi motivi.

### 3. Find the university with the largest increase computed in the previous point

In [15]:
least_most_improvement.sort_values(by='improvement',ascending=False).head(1)

    university_name_lr  year_lr  year_mr  income_lr  income_mr  improvement
470         TU Dresden     2012     2016       31.9       99.7         67.8

### 4. For each ranking, consider only the most recent data point. For each university, compute the maximum difference between the rankings (e.g. for *Aarhus University* the value is 122-73=49). Notice that some rankings are expressed as a range

In [16]:
most_recent_s=shanghai.loc[shanghai.groupby('uni_id')['year'].idxmax()]
most_recent_c=cwur.loc[cwur.groupby('uni_id')['year'].idxmax()]

In [17]:
most_recent_ts=pd.merge(most_recent_t[['uni_id','world_rank']],most_recent_s[['uni_id','world_rank']], on='uni_id')
most_recent_all=pd.merge(most_recent_ts,most_recent_c[['uni_id','world_rank']], on='uni_id')
most_recent_all.head()

                              uni_id world_rank_x world_rank_y  world_rank
0                  aalborguniversity      201-250      301-400         565
1                    aaltouniversity      251-300      401-500         421
2                   aarhusuniversity         =106           73         122
3             aixmarseilleuniversity      251-300      101-150         206
4  aristotleuniversityofthessaloniki      601-800      401-500         459

Creazione di una funzione **norm__rank** per normalizzare le classifiche a range

In [18]:
def norm_rank(x):
    x=x.astype(str).str.strip('=').str.split('-',expand=True).astype(float).mean(axis=1)
    return x

In [19]:
most_recent_all['world_rank_t']=norm_rank(most_recent_all['world_rank_x'])
most_recent_all['world_rank_s']=norm_rank(most_recent_all['world_rank_y'])
most_recent_all['world_rank_c']=norm_rank(most_recent_all['world_rank'])
most_recent_all.drop(['world_rank_x','world_rank_y','world_rank'], axis=1, inplace=True)

In [20]:
most_recent_all.head()

                              uni_id  world_rank_t  world_rank_s  world_rank_c
0                  aalborguniversity         225.5         350.5         565.0
1                    aaltouniversity         275.5         450.5         421.0
2                   aarhusuniversity         106.0          73.0         122.0
3             aixmarseilleuniversity         275.5         125.5         206.0
4  aristotleuniversityofthessaloniki         700.5         450.5         459.0

In [21]:
max_rank=most_recent_all.max(axis=1)
min_rank=most_recent_all.min(axis=1)
most_recent_all['max_diff']=max_rank-min_rank
most_recent_all.head()

,uni_id,world_rank_t,world_rank_s,world_rank_c,max_diff
0,aalborguniversity,225.5,350.5,565.0,339.5
1,aaltouniversity,275.5,450.5,421.0,175.0
2,aarhusuniversity,106.0,73.0,122.0,49.0
3,aixmarseilleuniversity,275.5,125.5,206.0,150.0
4,aristotleuniversityofthessaloniki,700.5,450.5,459.0,250.0

### 5. Consider only the most recent data point of the *times* dataset. Compute the number of male and female students for each country.

In [22]:
most_recent_t.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id
2003,201-250,Aalborg University,Denmark,25.1,71.0,28.4,73.8,43.7,NaN,17422.0,15.9,15%,48 : 52,2016,aalborguniversity
2056,251-300,Aalto University,Finland,31.1,65.4,32.8,62.1,61.6,NaN,16099.0,24.2,17%,32 : 68,2016,aaltouniversity
1908,=106,Aarhus University,Denmark,36.9,76.8,50.7,79.8,68.3,57.7,23895.0,13.6,14%,54 : 46,2016,aarhusuniversity
2105,301-350,Aberystwyth University,United Kingdom,21.6,72.2,18.9,67.2,31.3,NaN,9252.0,19.2,18%,48 : 52,2016,aberystwythuniversity
2404,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016,adammickiewiczuniversity

In [23]:
fe_ma=most_recent_t['female_male_ratio'].str.split(':',expand=True).astype(float)
fe_ma.rename(columns={0:'female_perc',1:'male_perc'},inplace=True)
fe_ma

      female_perc  male_perc
2003         48.0       52.0
2056         32.0       68.0
1908         54.0       46.0
2105         48.0       52.0
2404         71.0       29.0
...           ...        ...
2601         28.0       72.0
2151          NaN        NaN
2152         59.0       41.0
2602         43.0       57.0
2104         41.0       59.0

[818 rows x 2 columns]

In [24]:
times_gender=pd.merge(most_recent_t,fe_ma,left_index=True,right_index=True)
times_gender.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id,female_perc,male_perc
2003,201-250,Aalborg University,Denmark,25.1,71.0,28.4,73.8,43.7,NaN,17422.0,15.9,15%,48 : 52,2016,aalborguniversity,48.0,52.0
2056,251-300,Aalto University,Finland,31.1,65.4,32.8,62.1,61.6,NaN,16099.0,24.2,17%,32 : 68,2016,aaltouniversity,32.0,68.0
1908,=106,Aarhus University,Denmark,36.9,76.8,50.7,79.8,68.3,57.7,23895.0,13.6,14%,54 : 46,2016,aarhusuniversity,54.0,46.0
2105,301-350,Aberystwyth University,United Kingdom,21.6,72.2,18.9,67.2,31.3,NaN,9252.0,19.2,18%,48 : 52,2016,aberystwythuniversity,48.0,52.0
2404,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016,adammickiewiczuniversity,71.0,29.0

In [25]:
times_gender['female_num']=round(times_gender['num_students']*times_gender['female_perc']/100)
times_gender['male_num']=times_gender['num_students']-times_gender['female_num']

In [26]:
times_gender.groupby('country')[['female_num','male_num']].sum()

                          female_num   male_num
country
Argentina                    67191.0    41182.0
Australia                   391736.0   321640.0
Austria                      68364.0    66113.0
Bangladesh                   21323.0    41393.0
Belarus                      20219.0     9084.0
...                              ...        ...
Uganda                       18670.0    18670.0
Ukraine                      17846.0    19250.0
United Arab Emirates          9516.0     4931.0
United Kingdom              711814.0   613028.0
United States of America   1601453.0  1556322.0

[70 rows x 2 columns]

### 6. Find the universities where the ratio between female and male is below the average ratio (computed over all universities)

In [27]:
times_gender['fm_ratio']=times_gender['female_num']/times_gender['male_num']
times_gender.head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id,female_perc,male_perc,female_num,male_num,fm_ratio
2003,201-250,Aalborg University,Denmark,25.1,71.0,28.4,73.8,43.7,NaN,17422.0,15.9,15%,48 : 52,2016,aalborguniversity,48.0,52.0,8363.0,9059.0,0.923170
2056,251-300,Aalto University,Finland,31.1,65.4,32.8,62.1,61.6,NaN,16099.0,24.2,17%,32 : 68,2016,aaltouniversity,32.0,68.0,5152.0,10947.0,0.470631
1908,=106,Aarhus University,Denmark,36.9,76.8,50.7,79.8,68.3,57.7,23895.0,13.6,14%,54 : 46,2016,aarhusuniversity,54.0,46.0,12903.0,10992.0,1.173854
2105,301-350,Aberystwyth University,United Kingdom,21.6,72.2,18.9,67.2,31.3,NaN,9252.0,19.2,18%,48 : 52,2016,aberystwythuniversity,48.0,52.0,4441.0,4811.0,0.923093
2404,601-800,Adam Mickiewicz University,Poland,20.0,25.7,11.0,15.3,28.7,NaN,40633.0,15.6,1%,71 : 29,2016,adammickiewiczuniversity,71.0,29.0,28849.0,11784.0,2.448150

In [28]:
times_gender['fm_ratio'].mean() #inf

inf

Questo perchè in un'università il numero dei maschi è pari a 0, provocando appunto una media uguale a *Inf*

In [29]:
times_gender.sort_values(by='fm_ratio',ascending=False).head()

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,uni_id,female_perc,male_perc,female_num,male_num,fm_ratio
2227,401-500,Ewha Womans University,South Korea,23.9,34.3,18.3,50.4,57.6,NaN,17625.0,14.4,6%,100 : 0,2016,ewhawomansuniversity,100.0,0.0,17625.0,0.0,inf
2388,501-600,Soochow University,China,19.2,16.0,13.7,45.8,75.3,NaN,36465.0,12.9,2%,78 : 22,2016,soochowuniversity,78.0,22.0,28443.0,8022.0,3.545625
2413,601-800,Anadolu University,Turkey,12.2,14.3,22.6,10.9,100.0,NaN,379231.0,162.6,1%,78 : 22,2016,anadoluuniversity,78.0,22.0,295800.0,83431.0,3.545445
2036,201-250,Royal Veterinary College,United Kingdom,26.0,81.7,27.8,74.9,45.5,NaN,1819.0,10.9,18%,77 : 23,2016,royalveterinarycollege,77.0,23.0,1401.0,418.0,3.351675
2398,501-600,United Arab Emirates University,United Arab Emirates,18.8,95.0,14.8,21.7,30.1,NaN,9221.0,12.5,26%,76 : 24,2016,unitedarabemiratesuniversity,76.0,24.0,7008.0,2213.0,3.166742

Specificatamente l'università causa del problema è la Ewha Womans University. Come soluzione basta sostituire il valore *Inf* con un *NaN*

In [30]:
times_gender['fm_ratio'].replace(np.inf,np.nan,inplace=True)

In [31]:
avg=times_gender['fm_ratio'].mean()

In [32]:
below=times_gender[times_gender['fm_ratio']<avg]['university_name'].unique()

In [33]:
below

array(['Aalborg University', 'Aalto University', 'Aberystwyth University',
       'Ajou University', 'Alexandria University',
       'Aligarh Muslim University', 'American University of Beirut',
       'American University of Sharjah',
       'Amirkabir University of Technology', 'Andhra University',
       'Arizona State University',
       'Athens University of Economics and Business', 'Auburn University',
       'Austral University of Chile',
       'Bauman Moscow State Technical University', 'Bayreuth University',
       'Ben-Gurion University of the Negev',
       'Binghamton University, State University of New York',
       'Birla Institute of Technology and Science, Pilani',
       'Boğaziçi University', 'Brno University of Technology',
       'Brunel University London',
       'Budapest University of Technology and Economics',
       'Cairo University', 'California Institute of Technology',
       'Carleton University', 'Carlos III University of Madrid',
       'Carnegie Mellon University', 'Case Western Reserve University',
       'Chalmers University of Technology', 'Chang Gung University',
       'Chiang Mai University', 'Chiba University',
       'Chonbuk National University', 'Chonnam National University',
       'Chung-Ang University', 'Chung Yuan Christian University',
       'City University of Hong Kong', 'Claude Bernard University Lyon 1',
       'Clemson University', 'École Normale Supérieure',
       'École Normale Supérieure de Lyon', 'École Polytechnique',
       'École Polytechnique Fédérale de Lausanne',
       'Colorado School of Mines', 'Concordia University',
       'Copenhagen Business School', 'Cornell University',
       'Coventry University', 'Dalian University of Technology',
       'Dartmouth College', 'Delft University of Technology',
       'Drexel University', 'Dublin City University',
       'Dublin Institute of Technology', 'Duke University',
       'Ehime University', 'Eindhoven University of Technology',
       'Erasmus University Rotterdam', 'Erciyes University',
       'ETH Zurich – Swiss Federal Institute of Technology Zurich',
       'Federal University of Bahia',
       'Federal University of Rio Grande do Sul',
       'Federal University of Santa Catarina',
       'Federico Santa María Technical University',
       'Feng Chia University', 'Florida Institute of Technology',
       'Fudan University', 'Gdańsk University of Technology',
       'Georgia Institute of Technology', 'Gifu University',
       'Graz University of Technology',
       'Gwangju Institute of Science and Technology',
       'Harbin Institute of Technology', 'Heriot-Watt University',
       'Hiroshima University', 'Hokkaido University',
       'Hong Kong Polytechnic University',
       'Huazhong University of Science and Technology',
       'Hunan University', 'Imperial College London',
       'Indian Institute of Science',
       'Indian Institute of Technology Bombay',
       'Indian Institute of Technology Delhi',
       'Indian Institute of Technology Guwahati',
       'Indian Institute of Technology Kanpur',
       'Indian Institute of Technology Kharagpur',
       'Indian Institute of Technology Madras',
       'Indian Institute of Technology Roorkee', 'Inha University',
       'Instituto Superior Técnico Lisboa', 'Iowa State University',
       'Iran University of Science and Technology',
       'Isfahan University of Technology', 'I-Shou University',
       'Istanbul Technical University', 'Istanbul University',
       'Jadavpur University', 'Jilin University',
       'Johannes Kepler University of Linz', 'Johns Hopkins University',
       'Kanazawa University', 'Kansas State University',
       'Karlsruhe Institute of Technology', 'Keio University',
       'King Mongkut’s University of Technology Thonburi',
       'K.N. Toosi University of Technology', 'Kobe University',
       'Konkuk University',
       'Korea Advanced Institute of Science and Technology (KAIST)',
       'KTH Royal Institute of Technology', 'Kumamoto University',
       'Kyungpook National University', 'Kyushu Institute of Technology',
       'Kyushu University', 'Lappeenranta University of Technology',
       'Lehigh University', 'Leibniz University of Hanover',
       'Lille 1 University – Science and Technology',
       'Lomonosov Moscow State University', 'Loughborough University',
       'Makerere University', 'Marche Polytechnic University',
       'Massachusetts Institute of Technology',
       'Medical College of Wisconsin', 'Medical University of Vienna',
       'Michigan State University', 'Middle East Technical University',
       'Mines ParisTech', 'Missouri University of Science and Technology',
       'Montana State University',
       'Monterrey Institute of Technology and Higher Education',
       'Montpellier University', 'Nagasaki University',
       'Nagoya University', 'Nanjing University',
       'Nanyang Technological University',
       'National Autonomous University of Mexico',
       'National Central University', 'National Cheng Kung University',
       'National Chiao Tung University',
       'National Chung Hsing University',
       'National Institute of Applied Sciences of Lyon (INSA Lyon)',
       'National Research Nuclear University MePhI',
       'National Sun Yat-Sen University',
       'National Taipei University of Technology',
       'National Taiwan Ocean University', 'National Taiwan University',
       'National Taiwan University of Science and Technology (Taiwan Tech)',
       'National Technical University of Athens',
       'National Tsing Hua University',
       'National University of Science and Technology (MISiS)',
       'National University of Sciences and Technology',
       'National University of Singapore',
       'National Yang-Ming University', 'Newcastle University',
       'New Jersey Institute of Technology', 'New University of Lisbon',
       'Niigata University', 'North Carolina State University',
       'Northeastern University', 'Northwestern Polytechnical University',
       'Northwestern University',
       'Norwegian University of Science and Technology',
       'Ocean University of China', 'Ohio State University',
       'Ohio University', 'Okayama University',
       'Oklahoma State University', 'Oregon State University',
       'Osaka City University', 'Osaka Prefecture University',
       'Osaka University', 'Otto von Guericke University of Magdeburg',
       'Panjab University', 'Pennsylvania State University',
       'Peter the Great St Petersburg Polytechnic University',
       'Pierre and Marie Curie University',
       'Pohang University of Science and Technology',
       'Polytechnic University of Catalonia',
       'Polytechnic University of Milan',
       'Polytechnic University of Turin',
       'Polytechnic University of Valencia',
       'Pontifical Catholic University of Paraná',
       'Pontifical Catholic University of Rio de Janeiro (PUC-Rio)',
       'Pontifical Catholic University of Rio Grande do Sul (PUCRS)',
       'Pontifical Catholic University of Valparaíso',
       'Princeton University', 'Purdue University',
       'Pusan National University', 'Rensselaer Polytechnic Institute',
       'Rice University', 'Rio de Janeiro State University (UERJ)',
       'RMIT University', 'Rochester Institute of Technology',
       'Ruhr University Bochum',
       'Rutgers, the State University of New Jersey',
       'RWTH Aachen University', 'Sabancı University',
       'Saitama University', 'Savitribai Phule Pune University',
       'Scuola Normale Superiore di Pisa', 'Scuola Superiore Sant’Anna',
       'Sejong University', 'Shanghai Jiao Tong University',
       'Shanghai University', 'Shantou University',
       'Sharif University of Technology', 'Sichuan University',
       'Slovak University of Technology in Bratislava',
       'Sogang University', 'South China University of Technology',
       'Stanford University', 'State University of Campinas',
       'State University of New York Albany', 'Stony Brook University',
       'Sultan Qaboos University', 'Sungkyunkwan University (SKKU)',
       'Sun Yat-sen University', 'Suranaree University of Technology',
       'Swansea University', 'Swinburne University of Technology',
       'Tallinn University of Technology',
       'Tampere University of Technology',
       'Taras Shevchenko National University of Kyiv',
       'Technical University of Darmstadt',
       'Technical University of Denmark',
       'Technical University of Dortmund',
       'Technical University of Madrid', 'Technical University of Munich',
       'Technion Israel Institute of Technology', 'Temple University',
       'Texas A&M University', 'Texas Tech University',
       'Tilburg University', 'Tohoku University', 'Tokai University',
       'Tokushima University', 'Tokyo Institute of Technology',
       'Tokyo Medical and Dental University (TMDU)',
       'Tokyo Metropolitan University',
       'Tokyo University of Agriculture and Technology',
       'Tokyo University of Marine Science and Technology',
       'Tokyo University of Science', 'Tomsk Polytechnic University',
       'Tongji University', 'Tottori University',
       'Toyohashi University of Technology', 'Tsinghua University',
       'TU Dresden', 'Ulm University', 'Universiti Teknologi Malaysia',
       'University at Buffalo', 'University of Adelaide',
       'University of Antioquia', 'University of Arkansas',
       'University of Aveiro', 'University of Bath',
       'University of Bremen', 'University of Brescia',
       'University of California, Berkeley',
       'University of California, Riverside',
       'University of California, San Diego', 'University of Cambridge',
       'University of Canterbury', 'University of Chicago',
       'University of Chile', 'University of Colorado Boulder',
       'University of Connecticut', 'University of Delhi',
       'University of Dhaka', 'University of Duisburg-Essen',
       'University of Electronic Science and Technology of China',
       'University of Erlangen-Nuremberg', 'University of Ghana',
       'University of Göttingen', 'University of Houston',
       'University of Ibadan', 'University of Idaho',
       'University of Illinois at Urbana-Champaign',
       'University of Indonesia', 'University of Kaiserslautern',
       'University of Limerick', 'University of Lisbon',
       'University of Luxembourg', 'University of Marrakech Cadi Ayyad',
       'University of Maryland, Baltimore County',
       'University of Maryland, College Park',
       'University of Massachusetts', 'University of Miami',
       'University of Michigan', 'University of Nairobi',
       'University of Nebraska-Lincoln', 'University of New South Wales',
       'University of Notre Dame', 'University of Oulu',
       'University of Oxford', 'University of Patras',
       'University of Pennsylvania', 'University of Pittsburgh',
       'University of Portsmouth', 'University of Rennes 1',
       'University of Rochester', 'University of Salford',
       'University of Santiago, Chile (USACH)',
       'University of Science and Technology Beijing',
       'University of Seoul', 'University of Sheffield',
       'University of São Paulo', 'University of St Gallen',
       'University of Strathclyde', 'University of Stuttgart',
       'University of Tehran', 'University of Texas at Austin',
       'University of Texas at Dallas',
       'University of Texas at San Antonio',
       'University of the Andes, Colombia', 'University of Toledo',
       'University of Trento', 'University of Tsukuba',
       'University of Tulsa', 'University of Twente',
       'University of Utah', 'University of Vigo',
       'University of Warwick', 'University of Waterloo',
       'University of Western Australia',
       'University of Wisconsin-Madison', 'University of Wollongong',
       'Ural Federal University', 'VŠB - Technical University of Ostrava',
       'Vienna University of Technology',
       'Virginia Polytechnic Institute and State University',
       'Wake Forest University', 'Warsaw University of Technology',
       'Waseda University', 'Washington State University',
       'Wuhan University of Technology', 'Xi’an Jiaotong University',
       'Xidian University', 'Yale University', 'Yeungnam University',
       'Yıldız Technical University', 'Yokohama National University',
       'Yuan Ze University', 'Zhejiang University'], dtype=object)

In [34]:
len(below)

346

### 7. For each country compute the fraction of students that are in one of the universities computed in the previous point.

In [35]:
total_students_country=times_gender.groupby('country')['num_students'].sum().to_frame()
total_students_country.head()

            num_students
country
Argentina       108373.0
Australia       743627.0
Austria         134477.0
Bangladesh       62716.0
Belarus          29303.0

In [36]:
below_students_country=times_gender[times_gender['university_name'].isin(below)].groupby('country')['num_students'].sum().to_frame()
below_students_country.head()

            num_students
country
Australia       146235.0
Austria          61033.0
Bangladesh       62716.0
Brazil          278774.0
Canada           86779.0

Si opera una left join poichè non è detto che tutti i paesi abbiano università il cui ratio sia sotto la media. In tal caso si sostituisce il valore *NaN* con 0

In [37]:
num_country=pd.merge(total_students_country,below_students_country, on='country',suffixes=['_total','_below'],how='left')
num_country.head()

            num_students_total  num_students_below
country
Argentina             108373.0                 NaN
Australia             743627.0            146235.0
Austria               134477.0             61033.0
Bangladesh             62716.0             62716.0
Belarus                29303.0                 NaN

In [38]:
num_country['num_students_below'].replace(np.nan,0,inplace=True)

In [39]:
num_country['below_perc']=num_country['num_students_below']/num_country['num_students_total']
num_country.head()

            num_students_total  num_students_below  below_perc
country
Argentina             108373.0                 0.0    0.000000
Australia             743627.0            146235.0    0.196651
Austria               134477.0             61033.0    0.453855
Bangladesh             62716.0             62716.0    1.000000
Belarus                29303.0                 0.0    0.000000

### 8. Read the file `educational_attainment_supplementary_data.csv`, discarding any row without `country_name` or `series_name`

In [40]:
attainment=pd.read_csv('educational_attainment_supplementary_data.csv')
attainment.head()

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN

In [41]:
len(attainment)

79055

In [42]:
attainment.dropna(subset=['country_name','series_name'],inplace=True)
attainment.head()

,country_name,series_name,1985,1986,1987,1990,1991,1992,1993,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2015
0,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.33,NaN,NaN,0.44,NaN,NaN,NaN,0.57,...,0.86,NaN,NaN,NaN,NaN,1.27,NaN,NaN,NaN,NaN
1,Afghanistan,"Barro-Lee: Average years of primary schooling,...",1.03,NaN,NaN,1.26,NaN,NaN,NaN,1.54,...,2.18,NaN,NaN,NaN,NaN,2.64,NaN,NaN,NaN,NaN
2,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.83,NaN,NaN,0.95,NaN,NaN,NaN,1.26,...,1.01,NaN,NaN,NaN,NaN,2.45,NaN,NaN,NaN,NaN
3,Afghanistan,"Barro-Lee: Average years of primary schooling,...",2.34,NaN,NaN,2.22,NaN,NaN,NaN,2.37,...,2.26,NaN,NaN,NaN,NaN,3.55,NaN,NaN,NaN,NaN
4,Afghanistan,"Barro-Lee: Average years of primary schooling,...",0.54,NaN,NaN,0.92,NaN,NaN,NaN,0.94,...,2.00,NaN,NaN,NaN,NaN,1.29,NaN,NaN,NaN,NaN

In [43]:
len(attainment)

79050

Complessivamente 5 righe scartate

### 9. From `attainment` build a dataframe with the same data, but with 4 columns: `country_name`, `series_name`, `year`, `value`

La funzione **melt** di pandas consente di trasformare tabelle da formato wide a long:
- id_vars: chiave primaria (identificativo)
- var_name: colonna variabile
- value_nam: colonna valore

In [44]:
new_attainment=pd.melt(attainment,id_vars=['country_name','series_name'],var_name='year',value_name='value')
new_attainment.head()

  country_name                                        series_name  year  value
0  Afghanistan  Barro-Lee: Average years of primary schooling,...  1985   0.33
1  Afghanistan  Barro-Lee: Average years of primary schooling,...  1985   1.03
2  Afghanistan  Barro-Lee: Average years of primary schooling,...  1985   0.83
3  Afghanistan  Barro-Lee: Average years of primary schooling,...  1985   2.34
4  Afghanistan  Barro-Lee: Average years of primary schooling,...  1985   0.54

### 10. For each university, find the number of rankings in which they appear (it suffices to appear in one year for each ranking).

In [45]:
list_uni=times['uni_id'].unique().tolist()+shanghai['uni_id'].unique().tolist()+cwur['uni_id'].unique().tolist()

La funzione **Counter** importata da collections prende in input una lista e crea un dizionario che assegna a ciascun elemento distinto (chiave) il numero di volte che questo compare nella lista (valore)

In [46]:
counter=coll.Counter(list_uni)
counter

Counter({'harvarduniversity': 3,
         'californiainstituteoftechnology': 3,
         'massachusettsinstituteoftechnology': 2,
         'stanforduniversity': 3,
         'princetonuniversity': 3,
         'universityofcambridge': 3,
         'universityofoxford': 3,
         'universityofcaliforniaberkeley': 3,
         'imperialcollegelondon': 2,
         'yaleuniversity': 3,
         'universityofcalifornialosangeles': 3,
         'universityofchicago': 3,
         'johnshopkinsuniversity': 3,
         'cornelluniversity': 3,
         'ethzurichswissfederalinstituteoftechnologyzurich': 1,
         'universityofmichigan': 1,
         'universityoftoronto': 3,
         'columbiauniversity': 3,
         'universityofpennsylvania': 3,
         'carnegiemellonuniversity': 3,
         'universityofhongkong': 2,
         'universitycollegelondon': 3,
         'universityofwashington': 2,
         'dukeuniversity': 3,
         'northwesternuniversity': 3,
         'universityoftokyo': 2,
         'georgiainstituteoftechnology': 3,
         'pohanguniversityofscienceandtechnology': 3,
         'universityofcaliforniasantabarbara': 3,
         'universityofbritishcolumbia': 3,
         'universityofnorthcarolinaatchapelhill': 3,
         'universityofcaliforniasandiego': 3,
         'universityofillinoisaturbanachampaign': 3,
         'nationaluniversityofsingapore': 3,
         'mcgilluniversity': 3,
         'universityofmelbourne': 3,
         'pekinguniversity': 3,
         'washingtonuniversityinstlouis': 3,
         'colepolytechnique': 2,
         'universityofedinburgh': 2,
         'hongkonguniversityofscienceandtechnology': 2,
         'colenormalesuprieure': 1,
         'australiannationaluniversity': 2,
         'karolinskainstitute': 3,
         'universityofgttingen': 2,
         'universityofwisconsin': 1,
         'riceuniversity': 3,
         'colepolytechniquefdraledelausanne': 1,
         'universityofcaliforniairvine': 3,
         'universityofscienceandtechnologyofchina': 3,
         'vanderbiltuniversity': 3,
         'universityofminnesota': 1,
         'tuftsuniversity': 3,
         'universityofcaliforniadavis': 3,
         'brownuniversity': 3,
         'universityofmassachusetts': 1,
         'kyotouniversity': 3,
         'tsinghuauniversity': 3,
         'bostonuniversity': 3,
         'newyorkuniversity': 3,
         'emoryuniversity': 3,
         'lmumunich': 1,
         'universityofnotredame': 3,
         'universityofpittsburgh': 2,
         'casewesternreserveuniversity': 3,
         'ohiostateuniversity': 1,
         'universityofcoloradoboulder': 2,
         'universityofbristol': 3,
         'universityofcaliforniasantacruz': 3,
         'yeshivauniversity': 3,
         'universityofsydney': 3,
         'universityofvirginia': 3,
         'universityofadelaide': 2,
         'universityofsoutherncalifornia': 3,
         'williammary': 1,
         'trinitycollegedublin': 3,
         'kingscollegelondon': 3,
         'stonybrookuniversity': 3,
         'koreaadvancedinstituteofscienceandtechnologykaist': 2,
         'universityofsussex': 3,
         'theuniversityofqueensland': 2,
         'universityofyork': 3,
         'heidelberguniversity': 2,
         'universityofutah': 3,
         'durhamuniversity': 3,
         'londonschoolofeconomicsandpoliticalscience': 2,
         'universityofmanchester': 2,
         'royalhollowayuniversityoflondon': 2,
         'lunduniversity': 3,
         'universityofsouthampton': 3,
         'universityofzurich': 3,
         'wakeforestuniversity': 3,
         'mcmasteruniversity': 3,
         'universitycollegedublin': 3,
         'georgewashingtonuniversity': 2,
         'universityofarizona': 3,
         'universityofbasel': 3,
         'universityofmarylandcollegepark': 3,
         'dartmouthcollege': 3,
         'colenormalesuprieuredelyon': 2,
         'technicaluniversityofmunich': 2,
         'universityofhelsinki': 3,
         'universityofstandrews': 3,
         'rensselaerpolytechnicinstitute': 3,
         'rutgersthestateuniversityofnewjersey': 2,
         'purdueuniversity': 1,
         'nationaltsinghuauniversity': 3,
         'universityofcapetown': 3,
         'pennsylvaniastateuniversity': 1,
         'seoulnationaluniversity': 3,
         'hongkongbaptistuniversity': 2,
         'bilkentuniversity': 2,
         'tokyoinstituteoftechnology': 3,
         'eindhovenuniversityoftechnology': 3,
         'nationaltaiwanuniversity': 3,
         'universityofhawaiiatmnoa': 1,
         'universityofcaliforniariverside': 3,
         'universityofgeneva': 3,
         'kuleuven': 2,
         'nanjinguniversity': 3,
         'queenmaryuniversityoflondon': 3,
         'michiganstateuniversity': 3,
         'technicaluniversityofdenmark': 3,
         'ghentuniversity': 3,
         'lancasteruniversity': 3,
         'leidenuniversity': 3,
         'universityofalberta': 3,
         'universityofglasgow': 2,
         'stockholmuniversity': 3,
         'osakauniversity': 3,
         'universityofvictoria': 3,
         'tohokuuniversity': 3,
         'universityoffreiburg': 2,
         'universityofiowa': 3,
         'universityofbergen': 3,
         'universityoflausanne': 3,
         'universityofsheffield': 2,
         'universityofmontreal': 3,
         'vuuniversityamsterdam': 3,
         'pierreandmariecurieuniversity': 2,
         'universityofdundee': 2,
         'universityofbarcelona': 3,
         'utrechtuniversity': 3,
         'wageningenuniversityandresearchcenter': 1,
         'universityofauckland': 2,
         'universityofbirmingham': 3,
         'alexandriauniversity': 2,
         'uppsalauniversity': 3,
         'hongkongpolytechnicuniversity': 2,
         'universityofaberdeen': 3,
         'delftuniversityoftechnology': 3,
         'birkbeckuniversityoflondon': 3,
         'newcastleuniversity': 3,
         'universityofnewsouthwales': 3,
         'pompeufabrauniversity': 3,
         'indianauniversity': 1,
         'iowastateuniversity': 3,
         'georgiahealthsciencesuniversity': 1,
         'erasmusuniversityrotterdam': 2,
         'universityofdelaware': 3,
         'arizonastateuniversity': 3,
         'bostoncollege': 3,
         'nationalsunyatsenuniversity': 3,
         'georgetownuniversity': 3,
         'universityofamsterdam': 3,
         'universityofliverpool': 3,
         'aarhusuniversity': 3,
         'universityofleeds': 3,
         'universityofwrzburg': 1,
         'universityofgroningen': 3,
         'sunyatsenuniversity': 3,
         'goetheuniversityfrankfurt': 2,
         'bielefelduniversity': 3,
         'nanyangtechnologicaluniversity': 3,
         'universityofeastanglia': 3,
         'universityofnottingham': 3,
         'universityofcopenhagen': 3,
         'humboldtuniversityofberlin': 2,
         'monashuniversity': 3,
         'universityofbonn': 3,
         'nationalchiaotunguniversity': 3,
         'rwthaachenuniversity': 3,
         'middleeasttechnicaluniversity': 2,
         'universityofexeter': 3,
         'universityoftwente': 3,
         'universityofkonstanz': 3,
         'karlsruheinstituteoftechnology': 2,
         'universityofinnsbruck': 3,
         'universityoftbingen': 2,
         'drexeluniversity': 3,
         'universityofcincinnati': 3,
         'yonseiuniversity': 3,
         'dalhousieuniversity': 3,
         'kthroyalinstituteoftechnology': 2,
         'universityofvienna': 3,
         'kentstateuniversity': 3,
         'universityofillinoisatchicago': 3,
         'zhejianguniversity': 3,
         'simonfraseruniversity': 3,
         'swedishuniversityofagriculturalsciences': 3,
         'universityofwisconsinmadison': 3,
         'universityoftexasataustin': 2,
         'universityofrochester': 3,
         'universityofbern': 3,
         'hebrewuniversityofjerusalem': 2,
         'universityofflorida': 3,
         'brandeisuniversity': 3,
         'chineseuniversityofhongkong': 2,
         'freeuniversityofberlin': 2,
         'universityofwarwick': 3,
         'radbouduniversitynijmegen': 3,
         'medicaluniversityofsouthcarolina': 3,
         'texasamuniversity': 2,
         'universityofreading': 2,
         'telavivuniversity': 3,
         'parisdiderotuniversityparis7': 2,
         'universitcatholiquedelouvain': 2,
         'universityofmiami': 3,
         'queensuniversity': 3,
         'universityofsopaulo': 2,
         'universityofoslo': 3,
         'universityofottawa': 3,
         'universityofwesternaustralia': 2,
         'cityuniversityofhongkong': 3,
         'maastrichtuniversity': 3,
         'universityofleicester': 3,
         'autonomousuniversityofbarcelona': 3,
         'cardiffuniversity': 3,
         'coloradoschoolofmines': 2,
         'nagoyauniversity': 3,
         'northeasternuniversity': 3,
         'technionisraelinstituteoftechnology': 3,
         'tulaneuniversity': 3,
         'ulmuniversity': 1,
         'umeuniversity': 2,
         'universityatbuffalo': 1,
         'universityofessex': 3,
         'universityofgeorgia': 2,
         'universityofgothenburg': 3,
         'universityofmedicineanddentistryofnewjersey': 1,
         'universityofotago': 3,
         'universityofsouthcarolina': 1,
         'universityofstrasbourg': 3,
         'universityofwaterloo': 3,
         'universityofwesternontario': 1,
         'universitlibredebruxelles': 2,
         'carletonuniversity': 3,
         'chalmersuniversityoftechnology': 3,
         'coloradostateuniversity': 2,
         'creightonuniversity': 2,
         'fudanuniversity': 3,
         'koreauniversity': 3,
         'macquarieuniversity': 3,
         'stateuniversityofnewyorkalbany': 1,
         'tokyometropolitanuniversity': 3,
         'universityofbologna': 3,
         'universityofcalgary': 2,
         'universityofhamburg': 3,
         'universityofmilan': 3,
         'universityofmilanbicocca': 3,
         'universityofmissouri': 1,
         'universityofpadua': 3,
         'universityoftrieste': 3,
         'bangoruniversity': 3,
         'bruneluniversitylondon': 1,
         'johanneskepleruniversityoflinz': 2,
         'kyushuuniversity': 3,
         'norwegianuniversityofscienceandtechnology': 3,
         'queensuniversitybelfast': 3,
         'ruhruniversitybochum': 2,
         'stellenboschuniversity': 3,
         'tilburguniversity': 3,
         'tudresden': 2,
         'universityofbath': 3,
         'universityofgraz': 3,
         'universityofkiel': 3,
         'universityofsoutherndenmark': 3,
         'universityoftexasatdallas': 2,
         'universityofthewitwatersrand': 3,
         'universityoftsukuba': 3,
         'universityofwollongong': 3,
         'victoriauniversityofwellington': 3,
         'virginiapolytechnicinstituteandstateuniversity': 3,
         'waynestateuniversity': 3,
         'aberystwythuniversity': 2,
         'autonomousuniversityofmadrid': 3,
         'hokkaidouniversity': 3,
         'istanbultechnicaluniversity': 2,
         'lomonosovmoscowstateuniversity': 2,
         'montpellieruniversity': 1,
         'queenslanduniversityoftechnology': 3,
         'stateuniversityofcampinas': 2,
         'technicaluniversityofdarmstadt': 1,
         'tokyomedicalanddentaluniversitytmdu': 1,
         'uitthearcticuniversityofnorway': 1,
         'universityofantwerp': 3,
         'universityofcrete': 2,
         'universityofguelph': 3,
         'universityoficeland': 2,
         'universityofkansas': 3,
         'universityofkentucky': 3,
         'universityofmnster': 2,
         'universityofnewcastle': 3,
         'universityoftexasatsanantonio': 2,
         'universityoftrento': 2,
         'yorkuniversity': 3,
         'aalborguniversity': 3,
         'aaltouniversity': 3,
         'barilanuniversity': 3,
         'binghamtonuniversitystateuniversityofnewyork': 1,
         'boaziiuniversity': 2,
         'charlesdarwinuniversity': 2,
         'charlesuniversityinprague': 3,
         'georgemasonuniversity': 3,
         'indianinstituteoftechnologybombay': 2,
         'jagiellonianuniversity': 3,
         'keeleuniversity': 2,
         'keiouniversity': 3,
         'lehighuniversity': 3,
         'linkpinguniversity': 2,
         'nationaltaiwanuniversityofscienceandtechnologytaiwantech': 1,
         'plymouthuniversity': 2,
         'polytechnicuniversityofmilan': 2,
         'sapienzauniversityofrome': 3,
         'shanghaijiaotonguniversity': 3,
         'sharifuniversityoftechnology': 3,
         'sungkyunkwanuniversityskku': 1,
         'universitycollegecork': 3,
         'universityofaveiro': 2,
         'universityofcanterbury': 3,
         'universityofeasternfinland': 3,
         'universityofferrara': 3,
         'universityofhertfordshire': 3,
         'universityofhouston': 3,
         'universityofhull': 2,
         'universityoflige': 2,
         'universityofmanitoba': 3,
         'universityofmarylandbaltimorecounty': 3,
         'universityofmodenaandreggioemilia': 2,
         'universityofoklahoma': 1,
         'universityofpisa': 3,
         'universityofporto': 3,
         'universityofsouthflorida': 2,
         'universityofstirling': 2,
         'universityofsurrey': 3,
         'universityoftampere': 2,
         'universityoftasmania': 3,
         'universityofvalencia': 3,
         'universityofwaikato': 2,
         'universityofwarsaw': 3,
         'viennauniversityoftechnology': 3,
         'vrijeuniversiteitbrussel': 2,
         'washingtonstateuniversity': 2,
         'astonuniversity': 2,
         'auburnuniversity': 3,
         'clemsonuniversity': 3,
         'curtinuniversity': 3,
         'deakinuniversity': 3,
         'flindersuniversity': 3,
         'georgiastateuniversity': 2,
         'griffithuniversity': 3,
         'harbininstituteoftechnology': 3,
         'heriotwattuniversity': 2,
         'hiroshimauniversity': 3,
         'kansasstateuniversity': 3,
         'kobeuniversity': 3,
         'kyungheeuniversity': 3,
         'latrobeuniversity': 3,
         'leibnizuniversityofhanover': 1,
         'liverpooljohnmooresuniversity': 2,
         'loughboroughuniversity': 3,
         'mahidoluniversity': 2,
         'masseyuniversity': 3,
         'michigantechnologicaluniversity': 3,
         'nationalcentraluniversity': 3,
         'nationaltaiwanoceanuniversity': 2,
         'nationaluniversityofirelandgalway': 2,
         'nationaluniversityofirelandmaynooth': 2,
         'newjerseyinstituteoftechnology': 3,
         'newuniversityoflisbon': 1,
         'olddominionuniversity': 3,
         'polytechnicuniversityofcatalonia': 3,
         'polytechnicuniversityofturin': 3,
         'polytechnicuniversityofvalencia': 3,
         'pontificalcatholicuniversityofchile': 2,
         'saintpetersburgstateuniversity': 3,
         'swanseauniversity': 2,
         'swinburneuniversityoftechnology': 3,
         'tokyouniversityofagricultureandtechnology': 3,
         'universityofbarialdomoro': 2,
         'universityofcoimbra': 3,
         'universityofidaho': 3,
         'universityofkent': 2,
         'universityofparisnorthparis13': 1,
         'universityofsalento': 2,
         'universityofsouthaustralia': 2,
         'universityofstrathclyde': 3,
         'universityoftartu': 2,
         'universityofturku': 3,
         'universityofwyoming': 3,
         'universityofzaragoza': 3,
         'wasedauniversity': 3,
         'wuhanuniversity': 3,
         'yuanzeuniversity': 2,
         'parissuduniversity': 1,
         'josephfourieruniversity': 2,
         'johannesgutenberguniversityofmainz': 2,
         'stgeorgesuniversityoflondon': 2,
         'universityoferlangennuremberg': 3,
         'floridainstituteoftechnology': 2,
         'indianinstituteoftechnologykharagpur': 3,
         'kouniversity': 1,
         'lavaluniversity': 3,
         'minesparistech': 3,
         'nationalresearchnuclearuniversitymephi': 2,
         'universityofconnecticut': 3,
         'universityoforegon': 3,
         'bayreuthuniversity': 1,
         'oregonstateuniversity': 3,
         'universityofmontana': 1,
         'universityofturin': 3,
         'claudebernarduniversitylyon1': 3,
         'kingabdulazizuniversity': 3,
         'medicaluniversityofvienna': 3,
         'murdochuniversity': 3,
         'nationalchengkunguniversity': 3,
         'northcarolinastateuniversity': 2,
         'renminuniversityofchina': 2,
         'universityoffribourg': 3,
         'universityofpavia': 3,
         'universityofportsmouth': 2,
         'universityofvermont': 3,
         'indianinstituteoftechnologyroorkee': 2,
         'kingmongkutsuniversityoftechnologythonburi': 1,
         'nationalautonomousuniversityofmexico': 3,
         'parisdauphineuniversity': 1,
         'southernmethodistuniversity': 3,
         'templeuniversity': 3,
         'universityofduisburgessen': 3,
         'universityofjyvskyl': 2,
         'universityofkwazulunatal': 3,
         'universityofminho': 2,
         'universityoftechnologysydney': 3,
         'universityoftheandescolombia': 1,
         'universityofvigo': 3,
         'panjabuniversity': 2,
         'universityofcologne': 2,
         'universityofnebraskalincoln': 3,
         'universityofalaskafairbanks': 3,
         'wuhanuniversityoftechnology': 2,
         'chinamedicaluniversitytaiwan': 2,
         'hanyanguniversity': 3,
         'indianinstituteoftechnologydelhi': 2,
         'indianinstituteoftechnologykanpur': 2,
         'kingsauduniversity': 3,
         'sandiegostateuniversity': 3,
         'universityofflorence': 3,
         'universityofnavarra': 2,
         'universityofroviraivirgili': 1,
         'scuolanormalesuperioredipisa': 2,
         'syracuseuniversity': 3,
         'sabancuniversity': 1,
         'technicaluniversityofberlin': 3,
         'federicosantamaratechnicaluniversity': 2,
         'universityofbremen': 3,
         'universityofnewmexico': 2,
         'indianinstituteofscience': 3,
         'lappeenrantauniversityoftechnology': 1,
         'universityofmacau': 1,
         'illinoisinstituteoftechnology': 2,
         'novosibirskstateuniversity': 2,
         'universityofmarrakechcadiayyad': 1,
         'universityofnebraskamedicalcenter': 3,
         'universityofstuttgart': 3,
         'ewhawomansuniversity': 3,
         'isfahanuniversityoftechnology': 2,
         'royalcollegeofsurgeonsinireland': 2,
         'universityoflisbon': 3,
         'universityofromeiii': 1,
         'universityofseoul': 2,
         'westernsydneyuniversity': 1,
         'universityofmannheim': 2,
         'scuolasuperioresantanna': 1,
         'universityofluxembourg': 1,
         'charituniversittsmedizinberlin': 1,
         'copenhagenbusinessschool': 1,
         'floridastateuniversity': 3,
         'oregonhealthandscienceuniversity': 2,
         'parisdescartesuniversity': 2,
         'peterthegreatstpetersburgpolytechnicuniversity': 1,
         'royalveterinarycollege': 1,
         'rushuniversity': 3,
         'aixmarseilleuniversity': 3,
         'universityofbordeaux': 3,
         'jamescookuniversity': 3,
         'justusliebiguniversitygiessen': 2,
         'saintlouisuniversity': 3,
         'universityoftennesseeknoxville': 3,
         'tomskpolytechnicuniversity': 1,
         'universityofgreifswald': 3,
         'gwangjuinstituteofscienceandtechnology': 2,
         'universityofhohenheim': 2,
         'kazanfederaluniversity': 1,
         'medicalcollegeofwisconsin': 3,
         'universityofnaplesfedericoii': 3,
         'rebrouniversity': 2,
         'technicaluniversityofdortmund': 2,
         'toulouse1capitoleuniversity': 1,
         'vbtechnicaluniversityofostrava': 1,
         'universityofcyprus': 2,
         'universityofstgallen': 1,
         'grazuniversityoftechnology': 2,
         'institutosuperiortcnicolisboa': 1,
         'universityofoulu': 3,
         'panthonsorbonneuniversityparis1': 1,
         'universityofsouthdakota': 1,

In [47]:
len(counter)

1402

### 11. In the times ranking, compute the number of times each university appears

In [48]:
uni_times_counter=coll.Counter(times['uni_id'].tolist())

In [49]:
uni_times_counter

Counter({'harvarduniversity': 6,
         'californiainstituteoftechnology': 6,
         'massachusettsinstituteoftechnology': 6,
         'stanforduniversity': 6,
         'princetonuniversity': 6,
         'universityofcambridge': 6,
         'universityofoxford': 6,
         'universityofcaliforniaberkeley': 6,
         'imperialcollegelondon': 6,
         'yaleuniversity': 6,
         'universityofcalifornialosangeles': 6,
         'universityofchicago': 6,
         'johnshopkinsuniversity': 6,
         'cornelluniversity': 6,
         'ethzurichswissfederalinstituteoftechnologyzurich': 6,
         'universityofmichigan': 6,
         'universityoftoronto': 6,
         'columbiauniversity': 6,
         'universityofpennsylvania': 6,
         'carnegiemellonuniversity': 6,
         'universityofhongkong': 6,
         'universitycollegelondon': 6,
         'universityofwashington': 6,
         'dukeuniversity': 6,
         'northwesternuniversity': 6,
         'universityoftokyo': 6,
         'georgiainstituteoftechnology': 6,
         'pohanguniversityofscienceandtechnology': 6,
         'universityofcaliforniasantabarbara': 6,
         'universityofbritishcolumbia': 6,
         'universityofnorthcarolinaatchapelhill': 6,
         'universityofcaliforniasandiego': 6,
         'universityofillinoisaturbanachampaign': 6,
         'nationaluniversityofsingapore': 6,
         'mcgilluniversity': 6,
         'universityofmelbourne': 6,
         'pekinguniversity': 6,
         'washingtonuniversityinstlouis': 6,
         'colepolytechnique': 6,
         'universityofedinburgh': 6,
         'hongkonguniversityofscienceandtechnology': 6,
         'colenormalesuprieure': 6,
         'australiannationaluniversity': 6,
         'karolinskainstitute': 6,
         'universityofgttingen': 6,
         'universityofwisconsin': 1,
         'riceuniversity': 6,
         'colepolytechniquefdraledelausanne': 6,
         'universityofcaliforniairvine': 6,
         'universityofscienceandtechnologyofchina': 6,
         'vanderbiltuniversity': 6,
         'universityofminnesota': 6,
         'tuftsuniversity': 6,
         'universityofcaliforniadavis': 6,
         'brownuniversity': 6,
         'universityofmassachusetts': 6,
         'kyotouniversity': 6,
         'tsinghuauniversity': 6,
         'bostonuniversity': 6,
         'newyorkuniversity': 6,
         'emoryuniversity': 6,
         'lmumunich': 6,
         'universityofnotredame': 6,
         'universityofpittsburgh': 6,
         'casewesternreserveuniversity': 6,
         'ohiostateuniversity': 6,
         'universityofcoloradoboulder': 6,
         'universityofbristol': 6,
         'universityofcaliforniasantacruz': 6,
         'yeshivauniversity': 6,
         'universityofsydney': 6,
         'universityofvirginia': 6,
         'universityofadelaide': 6,
         'universityofsoutherncalifornia': 6,
         'williammary': 6,
         'trinitycollegedublin': 6,
         'kingscollegelondon': 6,
         'stonybrookuniversity': 6,
         'koreaadvancedinstituteofscienceandtechnologykaist': 6,
         'universityofsussex': 6,
         'theuniversityofqueensland': 6,
         'universityofyork': 6,
         'heidelberguniversity': 6,
         'universityofutah': 6,
         'durhamuniversity': 6,
         'londonschoolofeconomicsandpoliticalscience': 6,
         'universityofmanchester': 6,
         'royalhollowayuniversityoflondon': 6,
         'lunduniversity': 6,
         'universityofsouthampton': 6,
         'universityofzurich': 6,
         'wakeforestuniversity': 6,
         'mcmasteruniversity': 6,
         'universitycollegedublin': 6,
         'georgewashingtonuniversity': 6,
         'universityofarizona': 6,
         'universityofbasel': 6,
         'universityofmarylandcollegepark': 6,
         'dartmouthcollege': 6,
         'colenormalesuprieuredelyon': 6,
         'technicaluniversityofmunich': 6,
         'universityofhelsinki': 6,
         'universityofstandrews': 6,
         'rensselaerpolytechnicinstitute': 6,
         'rutgersthestateuniversityofnewjersey': 6,
         'purdueuniversity': 6,
         'nationaltsinghuauniversity': 6,
         'universityofcapetown': 6,
         'pennsylvaniastateuniversity': 6,
         'seoulnationaluniversity': 6,
         'hongkongbaptistuniversity': 6,
         'bilkentuniversity': 6,
         'tokyoinstituteoftechnology': 6,
         'eindhovenuniversityoftechnology': 6,
         'nationaltaiwanuniversity': 6,
         'universityofhawaiiatmnoa': 4,
         'universityofcaliforniariverside': 6,
         'universityofgeneva': 6,
         'kuleuven': 6,
         'nanjinguniversity': 6,
         'queenmaryuniversityoflondon': 6,
         'michiganstateuniversity': 6,
         'technicaluniversityofdenmark': 6,
         'ghentuniversity': 6,
         'lancasteruniversity': 6,
         'leidenuniversity': 6,
         'universityofalberta': 6,
         'universityofglasgow': 6,
         'stockholmuniversity': 6,
         'osakauniversity': 6,
         'universityofvictoria': 6,
         'tohokuuniversity': 6,
         'universityoffreiburg': 6,
         'universityofiowa': 6,
         'universityofbergen': 6,
         'universityoflausanne': 6,
         'universityofsheffield': 6,
         'universityofmontreal': 6,
         'vuuniversityamsterdam': 6,
         'pierreandmariecurieuniversity': 6,
         'universityofdundee': 6,
         'universityofbarcelona': 6,
         'utrechtuniversity': 6,
         'wageningenuniversityandresearchcenter': 6,
         'universityofauckland': 6,
         'universityofbirmingham': 6,
         'alexandriauniversity': 3,
         'uppsalauniversity': 6,
         'hongkongpolytechnicuniversity': 6,
         'universityofaberdeen': 6,
         'delftuniversityoftechnology': 6,
         'birkbeckuniversityoflondon': 6,
         'newcastleuniversity': 6,
         'universityofnewsouthwales': 6,
         'pompeufabrauniversity': 6,
         'indianauniversity': 6,
         'iowastateuniversity': 6,
         'georgiahealthsciencesuniversity': 4,
         'erasmusuniversityrotterdam': 6,
         'universityofdelaware': 6,
         'arizonastateuniversity': 6,
         'bostoncollege': 6,
         'nationalsunyatsenuniversity': 6,
         'georgetownuniversity': 6,
         'universityofamsterdam': 6,
         'universityofliverpool': 6,
         'aarhusuniversity': 6,
         'universityofleeds': 6,
         'universityofwrzburg': 6,
         'universityofgroningen': 6,
         'sunyatsenuniversity': 6,
         'goetheuniversityfrankfurt': 6,
         'bielefelduniversity': 6,
         'nanyangtechnologicaluniversity': 6,
         'universityofeastanglia': 6,
         'universityofnottingham': 6,
         'universityofcopenhagen': 6,
         'humboldtuniversityofberlin': 6,
         'monashuniversity': 6,
         'universityofbonn': 5,
         'nationalchiaotunguniversity': 6,
         'rwthaachenuniversity': 6,
         'middleeasttechnicaluniversity': 6,
         'universityofexeter': 6,
         'universityoftwente': 6,
         'universityofkonstanz': 6,
         'karlsruheinstituteoftechnology': 6,
         'universityofinnsbruck': 6,
         'universityoftbingen': 6,
         'drexeluniversity': 6,
         'universityofcincinnati': 6,
         'yonseiuniversity': 6,
         'dalhousieuniversity': 6,
         'kthroyalinstituteoftechnology': 6,
         'universityofvienna': 6,
         'kentstateuniversity': 3,
         'universityofillinoisatchicago': 6,
         'zhejianguniversity': 6,
         'simonfraseruniversity': 6,
         'swedishuniversityofagriculturalsciences': 6,
         'universityofwisconsinmadison': 5,
         'universityoftexasataustin': 5,
         'universityofrochester': 5,
         'universityofbern': 5,
         'hebrewuniversityofjerusalem': 5,
         'universityofflorida': 5,
         'brandeisuniversity': 5,
         'chineseuniversityofhongkong': 5,
         'freeuniversityofberlin': 5,
         'universityofwarwick': 5,
         'radbouduniversitynijmegen': 5,
         'medicaluniversityofsouthcarolina': 2,
         'texasamuniversity': 5,
         'universityofreading': 5,
         'telavivuniversity': 5,
         'parisdiderotuniversityparis7': 5,
         'universitcatholiquedelouvain': 5,
         'universityofmiami': 5,
         'queensuniversity': 5,
         'universityofsopaulo': 5,
         'universityofoslo': 5,
         'universityofottawa': 5,
         'universityofwesternaustralia': 5,
         'cityuniversityofhongkong': 5,
         'maastrichtuniversity': 5,
         'universityofleicester': 5,
         'autonomousuniversityofbarcelona': 5,
         'cardiffuniversity': 5,
         'coloradoschoolofmines': 5,
         'nagoyauniversity': 5,
         'northeasternuniversity': 5,
         'technionisraelinstituteoftechnology': 5,
         'tulaneuniversity': 5,
         'ulmuniversity': 4,
         'umeuniversity': 5,
         'universityatbuffalo': 5,
         'universityofessex': 5,
         'universityofgeorgia': 5,
         'universityofgothenburg': 5,
         'universityofmedicineanddentistryofnewjersey': 1,
         'universityofotago': 5,
         'universityofsouthcarolina': 5,
         'universityofstrasbourg': 5,
         'universityofwaterloo': 5,
         'universityofwesternontario': 5,
         'universitlibredebruxelles': 5,
         'carletonuniversity': 5,
         'chalmersuniversityoftechnology': 5,
         'coloradostateuniversity': 5,
         'creightonuniversity': 4,
         'fudanuniversity': 5,
         'koreauniversity': 5,
         'macquarieuniversity': 5,
         'stateuniversityofnewyorkalbany': 5,
         'tokyometropolitanuniversity': 5,
         'universityofbologna': 5,
         'universityofcalgary': 5,
         'universityofhamburg': 1,
         'universityofmilan': 5,
         'universityofmilanbicocca': 5,
         'universityofmissouri': 5,
         'universityofpadua': 5,
         'universityoftrieste': 5,
         'bangoruniversity': 5,
         'bruneluniversitylondon': 5,
         'johanneskepleruniversityoflinz': 4,
         'kyushuuniversity': 5,
         'norwegianuniversityofscienceandtechnology': 5,
         'queensuniversitybelfast': 5,
         'ruhruniversitybochum': 5,
         'stellenboschuniversity': 5,
         'tilburguniversity': 5,
         'tudresden': 5,
         'universityofbath': 5,
         'universityofgraz': 5,
         'universityofkiel': 5,
         'universityofsoutherndenmark': 5,
         'universityoftexasatdallas': 5,
         'universityofthewitwatersrand': 5,
         'universityoftsukuba': 5,
         'universityofwollongong': 5,
         'victoriauniversityofwellington': 5,
         'virginiapolytechnicinstituteandstateuniversity': 5,
         'waynestateuniversity': 5,
         'aberystwythuniversity': 5,
         'autonomousuniversityofmadrid': 5,
         'hokkaidouniversity': 5,
         'istanbultechnicaluniversity': 5,
         'lomonosovmoscowstateuniversity': 5,
         'montpellieruniversity': 5,
         'queenslanduniversityoftechnology': 5,
         'stateuniversityofcampinas': 5,
         'technicaluniversityofdarmstadt': 5,
         'tokyomedicalanddentaluniversitytmdu': 5,
         'uitthearcticuniversityofnorway': 5,
         'universityofantwerp': 5,
         'universityofcrete': 5,
         'universityofguelph': 4,
         'universityoficeland': 5,
         'universityofkansas': 4,
         'universityofkentucky': 2,
         'universityofmnster': 5,
         'universityofnewcastle': 5,
         'universityoftexasatsanantonio': 3,
         'universityoftrento': 5,
         'yorkuniversity': 5,
         'aalborguniversity': 5,
         'aaltouniversity': 5,
         'barilanuniversity': 2,
         'binghamtonuniversitystateuniversityofnewyork': 3,
         'boaziiuniversity': 5,
         'charlesdarwinuniversity': 5,
         'charlesuniversityinprague': 5,
         'georgemasonuniversity': 5,
         'indianinstituteoftechnologybombay': 4,
         'jagiellonianuniversity': 3,
         'keeleuniversity': 4,
         'keiouniversity': 3,
         'lehighuniversity': 5,
         'linkpinguniversity': 5,
         'nationaltaiwanuniversityofscienceandtechnologytaiwantech': 5,
         'plymouthuniversity': 4,
         'polytechnicuniversityofmilan': 5,
         'sapienzauniversityofrome': 5,
         'shanghaijiaotonguniversity': 5,
         'sharifuniversityoftechnology': 5,
         'sungkyunkwanuniversityskku': 5,
         'universitycollegecork': 5,
         'universityofaveiro': 3,
         'universityofcanterbury': 5,
         'universityofeasternfinland': 5,
         'universityofferrara': 5,
         'universityofhertfordshire': 5,
         'universityofhouston': 5,
         'universityofhull': 2,
         'universityoflige': 5,
         'universityofmanitoba': 5,
         'universityofmarylandbaltimorecounty': 4,
         'universityofmodenaandreggioemilia': 3,
         'universityofoklahoma': 4,
         'universityofpisa': 5,
         'universityofporto': 4,
         'universityofsouthflorida': 5,
         'universityofstirling': 5,
         'universityofsurrey': 4,
         'universityoftampere': 5,
         'universityoftasmania': 4,
         'universityofvalencia': 5,
         'universityofwaikato': 5,
         'universityofwarsaw': 5,
         'viennauniversityoftechnology': 5,
         'vrijeuniversiteitbrussel': 5,
         'washingtonstateuniversity': 5,
         'astonuniversity': 3,
         'auburnuniversity': 2,
         'clemsonuniversity': 2,
         'curtinuniversity': 3,
         'deakinuniversity': 5,
         'flindersuniversity': 3,
         'georgiastateuniversity': 2,
         'griffithuniversity': 2,
         'harbininstituteoftechnology': 2,
         'heriotwattuniversity': 4,
         'hiroshimauniversity': 2,
         'kansasstateuniversity': 4,
         'kobeuniversity': 2,
         'kyungheeuniversity': 2,
         'latrobeuniversity': 2,
         'leibnizuniversityofhanover': 4,
         'liverpooljohnmooresuniversity': 3,
         'loughboroughuniversity': 4,
         'mahidoluniversity': 2,
         'masseyuniversity': 3,
         'michigantechnologicaluniversity': 1,
         'nationalcentraluniversity': 4,
         'nationaltaiwanoceanuniversity': 2,
         'nationaluniversityofirelandgalway': 5,
         'nationaluniversityofirelandmaynooth': 4,
         'newjerseyinstituteoftechnology': 2,
         'newuniversityoflisbon': 2,
         'olddominionuniversity': 2,
         'polytechnicuniversityofcatalonia': 2,
         'polytechnicuniversityofturin': 2,
         'polytechnicuniversityofvalencia': 4,
         'pontificalcatholicuniversityofchile': 2,
         'saintpetersburgstateuniversity': 2,
         'swanseauniversity': 2,
         'swinburneuniversityoftechnology': 4,
         'tokyouniversityofagricultureandtechnology': 2,
         'universityofbarialdomoro': 4,
         'universityofcoimbra': 2,
         'universityofidaho': 2,
         'universityofkent': 2,
         'universityofparisnorthparis13': 2,
         'universityofsalento': 5,
         'universityofsouthaustralia': 5,
         'universityofstrathclyde': 3,
         'universityoftartu': 4,
         'universityofturku': 3,
         'universityofwyoming': 3,
         'universityofzaragoza': 2,
         'wasedauniversity': 4,
         'wuhanuniversity': 3,
         'yuanzeuniversity': 2,
         'parissuduniversity': 4,
         'josephfourieruniversity': 4,
         'johannesgutenberguniversityofmainz': 2,
         'stgeorgesuniversityoflondon': 4,
         'universityoferlangennuremberg': 4,
         'floridainstituteoftechnology': 4,
         'indianinstituteoftechnologykharagpur': 3,
         'kouniversity': 4,
         'lavaluniversity': 4,
         'minesparistech': 3,
         'nationalresearchnuclearuniversitymephi': 2,
         'universityofconnecticut': 4,
         'universityoforegon': 2,
         'bayreuthuniversity': 4,
         'oregonstateuniversity': 4,
         'universityofmontana': 4,
         'universityofturin': 4,
         'claudebernarduniversitylyon1': 4,
         'kingabdulazizuniversity': 3,
         'medicaluniversityofvienna': 4,
         'murdochuniversity': 4,
         'nationalchengkunguniversity': 4,
         'northcarolinastateuniversity': 2,
         'renminuniversityofchina': 4,
         'universityoffribourg': 4,
         'universityofpavia': 4,
         'universityofportsmouth': 4,
         'universityofvermont': 3,
         'indianinstituteoftechnologyroorkee': 4,
         'kingmongkutsuniversityoftechnologythonburi': 4,
         'nationalautonomousuniversityofmexico': 2,
         'parisdauphineuniversity': 2,
         'southernmethodistuniversity': 1,
         'templeuniversity': 3,
         'universityofduisburgessen': 4,
         'universityofjyvskyl': 4,
         'universityofkwazulunatal': 2,
         'universityofminho': 4,
         'universityoftechnologysydney': 4,
         'universityoftheandescolombia': 4,
         'universityofvigo': 3,
         'panjabuniversity': 3,
         'universityofcologne': 3,
         'universityofnebraskalincoln': 3,
         'universityofalaskafairbanks': 2,
         'wuhanuniversityoftechnology': 2,
         'chinamedicaluniversitytaiwan': 2,
         'hanyanguniversity': 3,
         'indianinstituteoftechnologydelhi': 2,
         'indianinstituteoftechnologykanpur': 2,
         'kingsauduniversity': 2,
         'sandiegostateuniversity': 3,
         'universityofflorence': 3,
         'universityofnavarra': 3,
         'universityofroviraivirgili': 2,
         'scuolanormalesuperioredipisa': 2,
         'syracuseuniversity': 2,
         'sabancuniversity': 2,
         'technicaluniversityofberlin': 1,
         'federicosantamaratechnicaluniversity': 2,
         'universityofbremen': 2,
         'universityofnewmexico': 2,
         'indianinstituteofscience': 2,
         'lappeenrantauniversityoftechnology': 2,
         'universityofmacau': 2,
         'illinoisinstituteoftechnology': 1,
         'novosibirskstateuniversity': 2,
         'universityofmarrakechcadiayyad': 2,
         'universityofnebraskamedicalcenter': 2,
         'universityofstuttgart': 2,
         'ewhawomansuniversity': 2,
         'isfahanuniversityoftechnology': 2,
         'royalcollegeofsurgeonsinireland': 2,
         'universityoflisbon': 2,
         'universityofromeiii': 2,
         'universityofseoul': 2,
         'westernsydneyuniversity': 2,
         'universityofmannheim': 1,
         'scuolasuperioresantanna': 1,
         'universityofluxembourg': 1,
         'charituniversittsmedizinberlin': 1,
         'copenhagenbusinessschool': 1,
         'floridastateuniversity': 1,
         'oregonhealthandscienceuniversity': 1,
         'parisdescartesuniversity': 1,
         'peterthegreatstpetersburgpolytechnicuniversity': 1,
         'royalveterinarycollege': 1,
         'rushuniversity': 1,
         'aixmarseilleuniversity': 1,
         'universityofbordeaux': 1,
         'jamescookuniversity': 1,
         'justusliebiguniversitygiessen': 1,
         'saintlouisuniversity': 1,
         'universityoftennesseeknoxville': 1,
         'tomskpolytechnicuniversity': 1,
         'universityofgreifswald': 1,
         'gwangjuinstituteofscienceandtechnology': 1,
         'universityofhohenheim': 1,
         'kazanfederaluniversity': 1,
         'medicalcollegeofwisconsin': 1,
         'universityofnaplesfedericoii': 1,
         'rebrouniversity': 1,
         'technicaluniversityofdortmund': 1,
         'toulouse1capitoleuniversity': 1,
         'vbtechnicaluniversityofostrava': 1,
         'universityofcyprus': 1,
         'universityofstgallen': 1,
         'grazuniversityoftechnology': 1,
         'institutosuperiortcnicolisboa': 1,
         'universityofoulu': 1,
         'panthonsorbonneuniversityparis1': 1,
         'universityofsouthdakota': 1,

In [50]:
len(uni_times_counter)

818

### 12. Find the universities that appear at most twice in the times ranking.

In [51]:
twice={}
for key in uni_times_counter:
    if uni_times_counter[key]<=2:
        twice[key]=uni_times_counter[key]
twice

{'universityofwisconsin': 1,
 'medicaluniversityofsouthcarolina': 2,
 'universityofmedicineanddentistryofnewjersey': 1,
 'universityofhamburg': 1,
 'universityofkentucky': 2,
 'barilanuniversity': 2,
 'universityofhull': 2,
 'auburnuniversity': 2,
 'clemsonuniversity': 2,
 'georgiastateuniversity': 2,
 'griffithuniversity': 2,
 'harbininstituteoftechnology': 2,
 'hiroshimauniversity': 2,
 'kobeuniversity': 2,
 'kyungheeuniversity': 2,
 'latrobeuniversity': 2,
 'mahidoluniversity': 2,
 'michigantechnologicaluniversity': 1,
 'nationaltaiwanoceanuniversity': 2,
 'newjerseyinstituteoftechnology': 2,
 'newuniversityoflisbon': 2,
 'olddominionuniversity': 2,
 'polytechnicuniversityofcatalonia': 2,
 'polytechnicuniversityofturin': 2,
 'pontificalcatholicuniversityofchile': 2,
 'saintpetersburgstateuniversity': 2,
 'swanseauniversity': 2,
 'tokyouniversityofagricultureandtechnology': 2,
 'universityofcoimbra': 2,
 'universityofidaho': 2,
 'universityofkent': 2,
 'universityofparisnorthparis13': 2,
 'universityofzaragoza': 2,
 'yuanzeuniversity': 2,
 'johannesgutenberguniversityofmainz': 2,
 'nationalresearchnuclearuniversitymephi': 2,
 'universityoforegon': 2,
 'northcarolinastateuniversity': 2,
 'nationalautonomousuniversityofmexico': 2,
 'parisdauphineuniversity': 2,
 'southernmethodistuniversity': 1,
 'universityofkwazulunatal': 2,
 'universityofalaskafairbanks': 2,
 'wuhanuniversityoftechnology': 2,
 'chinamedicaluniversitytaiwan': 2,
 'indianinstituteoftechnologydelhi': 2,
 'indianinstituteoftechnologykanpur': 2,
 'kingsauduniversity': 2,
 'universityofroviraivirgili': 2,
 'scuolanormalesuperioredipisa': 2,
 'syracuseuniversity': 2,
 'sabancuniversity': 2,
 'technicaluniversityofberlin': 1,
 'federicosantamaratechnicaluniversity': 2,
 'universityofbremen': 2,
 'universityofnewmexico': 2,
 'indianinstituteofscience': 2,
 'lappeenrantauniversityoftechnology': 2,
 'universityofmacau': 2,
 'illinoisinstituteoftechnology': 1,
 'novosibirskstateuniversity': 2,
 'universityofmarrakechcadiayyad': 2,
 'universityofnebraskamedicalcenter': 2,
 'universityofstuttgart': 2,
 'ewhawomansuniversity': 2,
 'isfahanuniversityoftechnology': 2,
 'royalcollegeofsurgeonsinireland': 2,
 'universityoflisbon': 2,
 'universityofromeiii': 2,
 'universityofseoul': 2,
 'westernsydneyuniversity': 2,
 'universityofmannheim': 1,
 'scuolasuperioresantanna': 1,
 'universityofluxembourg': 1,
 'charituniversittsmedizinberlin': 1,
 'copenhagenbusinessschool': 1,
 'floridastateuniversity': 1,
 'oregonhealthandscienceuniversity': 1,
 'parisdescartesuniversity': 1,
 'peterthegreatstpetersburgpolytechnicuniversity': 1,
 'royalveterinarycollege': 1,
 'rushuniversity': 1,
 'aixmarseilleuniversity': 1,
 'universityofbordeaux': 1,
 'jamescookuniversity': 1,
 'justusliebiguniversitygiessen': 1,
 'saintlouisuniversity': 1,
 'universityoftennesseeknoxville': 1,
 'tomskpolytechnicuniversity': 1,
 'universityofgreifswald': 1,
 'gwangjuinstituteofscienceandtechnology': 1,
 'universityofhohenheim': 1,
 'kazanfederaluniversity': 1,
 'medicalcollegeofwisconsin': 1,
 'universityofnaplesfedericoii': 1,
 'rebrouniversity': 1,
 'technicaluniversityofdortmund': 1,
 'toulouse1capitoleuniversity': 1,
 'vbtechnicaluniversityofostrava': 1,
 'universityofcyprus': 1,
 'universityofstgallen': 1,
 'grazuniversityoftechnology': 1,
 'institutosuperiortcnicolisboa': 1,
 'universityofoulu': 1,
 'panthonsorbonneuniversityparis1': 1,
 'universityofsouthdakota': 1,
 'lille2universityhealthandlaw': 1,
 'veronauniversity': 1,
 'americanuniversity': 1,
 'bournemouthuniversity': 1,
 'universityofbrescia': 1,
 'brnouniversityoftechnology': 1,
 'cafoscariuniversityofvenice': 1,
 'universityofcagliari': 1,
 'catholicuniversityofthesacredheart': 1,
 'cityuniversitylondon': 1,
 'complutenseuniversityofmadrid': 1,
 'concordiauniversity': 1,
 'dublincityuniversity': 1,
 'eastchinauniversityofscienceandtechnology': 1,
 'floridainternationaluniversity': 1,
 'universityofgenoa': 1,
 'howarduniversity': 1,
 'indianinstituteoftechnologymadras': 1,
 'universityofioannina': 1,
 'iranuniversityofscienceandtechnology': 1,
 'universityofkaiserslautern': 1,
 'louisianastateuniversity': 1,
 'makerereuniversity': 1,
 'marchepolytechnicuniversity': 1,
 'universityofnantes': 1,
 'nationalandkapodistrianuniversityofathens': 1,
 'nationalinstituteofappliedsciencesoflyoninsalyon': 1,
 'nationalyangminguniversity': 1,
 'universityofneuchtel': 1,
 'universityofnicesophiaantipolis': 1,
 'theopenuniversity': 1,
 'oxfordbrookesuniversity': 1,
 'universityofpalermo': 1,
 'universityofparma': 1,
 'rmituniversity': 1,
 'universityofromeiitorvergata': 1,
 'universityofsanfrancisco': 1,
 'universityofsaskatchewan': 1,
 'universityofsiena': 1,
 'southerncrossuniversity': 1,
 'tampereuniversityoftechnology': 1,
 'universityofulsan': 1,
 'ulsteruniversity': 1,
 'universitduqubecmontral': 1,
 'universititeknologimalaysia': 1,
 'universityofurbinocarlobo': 1,
 'xiamenuniversity': 1,
 'americanuniversityofbeirut': 1,
 'amirkabiruniversityoftechnology': 1,
 'universityofarkansas': 1,
 'babebolyaiuniversity': 1,
 'universityofthebasquecountry': 1,
 'baumanmoscowstatetechnicaluniversity': 1,
 'bengurionuniversityofthenegev': 1,
 'blaisepascaluniversity': 1,
 'universityofburgundy': 1,
 'universityofcanberra': 1,
 'universityofcatania': 1,
 'centralqueenslanduniversity': 1,
 'universityofchile': 1,
 'chinaagriculturaluniversity': 1,
 'chunganguniversity': 1,
 'czechtechnicaluniversityinprague': 1,
 'demontfortuniversity': 1,
 'eastchinanormaluniversity': 1,
 'edithcowanuniversity': 1,
 'federaluniversityofriodejaneiro': 1,
 'universityofgranada': 1,
 'universityofhaifa': 1,
 'huazhonguniversityofscienceandtechnology': 1,
 'indianinstituteoftechnologyguwahati': 1,
 'jadavpuruniversity': 1,
 'kanazawauniversity': 1,
 'kingfahduniversityofpetroleumandminerals': 1,
 'universityoflalaguna': 1,
 'universityoflimerick': 1,
 'manchestermetropolitanuniversity': 1,
 'universityofmaribor': 1,
 'masarykuniversity': 1,
 'memorialuniversityofnewfoundland': 1,
 'missouriuniversityofscienceandtechnology': 1,
 'montanastateuniversity': 1,
 'monterreyinstituteoftechnologyandhighereducation': 1,
 'nationaltaiwannormaluniversity': 1,
 'nationaltechnicaluniversityofathens': 1,
 'newmexicostateuniversity': 1,
 'universityofnorthcarolinaatgreensboro': 1,
 'oklahomastateuniversity': 1,
 'osakacityuniversity': 1,
 'ottovonguerickeuniversityofmagdeburg': 1,
 'universityofoviedo': 1,
 'palackuniversityinolomouc': 1,
 'pontificalcatholicuniversityofriodejaneiropucrio': 1,
 'portlandstateuniversity': 1,
 'universityofpretoria': 1,
 'pusannationaluniversity': 1,
 'quaidiazamuniversity': 1,
 'universityofregina': 1,
 'universityofrennes1': 1,
 'universityofsalamanca': 1,
 'universityofsantiagodecompostela': 1,
 'semmelweisuniversity': 1,
 'universityofseville': 1,
 'universitdesherbrooke': 1,
 'soochowuniversity': 1,
 'southchinauniversityoftechnology': 1,
 'tallinnuniversityoftechnology': 1,
 'tehranuniversityofmedicalsciences': 1,
 'universityoftexasatarlington': 1,
 'tianjinuniversity': 1,
 'universityoftoledo': 1,
 'tongjiuniversity': 1,
 'universityoftulsa': 1,
 'unitedarabemiratesuniversity': 1,
 'universityofwisconsinmilwaukee': 1,
 'xianjiaotonguniversity': 1,
 'universityofacorua': 1,
 'adammickiewiczuniversity': 1,
 'aghuniversityofscienceandtechnology': 1,
 'ajouuniversity': 1,
 'universityofalcal': 1,
 'alexandruioancuzauniversity': 1,
 'aligarhmuslimuniversity': 1,
 'americanuniversityofsharjah': 1,
 'amritauniversity': 1,
 'anadoluuniversity': 1,
 'andhrauniversity': 1,
 'universityofantioquia': 1,
 'aristotleuniversityofthessaloniki': 1,
 'asiauniversitytaiwan': 1,
 'athensuniversityofeconomicsandbusiness': 1,
 'aucklanduniversityoftechnology': 1,
 'australuniversityofchile': 1,
 'beijinginstituteoftechnology': 1,
 'belarusianstateuniversity': 1,
 'universityofbelgrade': 1,
 'birlainstituteoftechnologyandsciencepilani': 1,
 'universityofbradford': 1,
 'universityofbraslia': 1,
 'universityofbrighton': 1,
 'universityofbucharest': 1,
 'budapestuniversityoftechnologyandeconomics': 1,
 'cairouniversity': 1,
 'universityofcalcutta': 1,
 'californiastateuniversitylongbeach': 1,
 'capitalmedicaluniversity': 1,
 'universityofcastillalamancha': 1,
 'universityofcentrallancashire': 1,
 'universityofcergypontoise': 1,
 'changgunguniversity': 1,
 'carlosiiiuniversityofmadrid': 1,
 'universityofchemistryandtechnologyprague': 1,
 'chiangmaiuniversity': 1,
 'chibauniversity': 1,
 'chinauniversityofgeoscienceswuhan': 1,
 'chinauniversityofpetroleumbeijing': 1,
 'chonbuknationaluniversity': 1,
 'chongqinguniversity': 1,
 'chonnamnationaluniversity': 1,
 'chulalongkornuniversity': 1,
 'chungyuanchristianuniversity': 1,
 'chungnamnationaluniversity': 1,
 'comeniusuniversityinbratislava': 1,
 'coventryuniversity': 1,
 'dalianuniversityoftechnology': 1,
 'universityofdebrecen': 1,
 'universityofdelhi': 1,
 'universityofdhaka': 1,
 'dublininstituteoftechnology': 1,
 'ehimeuniversity': 1,
 'universityofelectronicscienceandtechnologyofchina': 1,
 'etvslornduniversity': 1,
 'erciyesuniversity': 1,
 'federaluniversityofbahia': 1,
 'federaluniversityofminasgerais': 1,
 'federaluniversityofparanufpr': 1,
 'federaluniversityofriograndedosul': 1,
 'federaluniversityofsantacatarina': 1,
 'federaluniversityofsocarlos': 1,
 'federaluniversityofviosa': 1,
 'federaluniversityoflavras': 1,
 'fengchiauniversity': 1,
 'fujencatholicuniversity': 1,
 'gdaskuniversityoftechnology': 1,
 'universityofghana': 1,
 'gifuuniversity': 1,
 'glasgowcaledonianuniversity': 1,
 'universityofgreenwich': 1,
 'hacettepeuniversity': 1,
 'universityofhuddersfield': 1,
 'hunanuniversity': 1,
 'universityofibadan': 1,
 'universityofindonesia': 1,
 'inhauniversity': 1,
 'ishouuniversity': 1,
 'istanbuluniversity': 1,
 'jilinuniversity': 1,
 'universityofjordan': 1,
 'jordanuniversityofscienceandtechnology': 1,
 'juntendouniversity': 1,
 'kntoosiuniversityoftechnology': 1,
 'kaohsiungmedicaluniversity': 1,
 'khonkaenuniversity': 1,
 'kingstonuniversity': 1,
 'kinkiuniversity': 1,
 'konkukuniversity': 1,
 'kumamotouniversity': 1,
 'kyungpooknationaluniversity': 1,
 'kyushuinstituteoftechnology': 1,
 'universityoflatvia': 1,
 'lille1universityscienceandtechnology': 1,
 'universityoflincoln': 1,
 'universityofljubljana': 1,
 'miamiuniversity': 1,
 'middlesexuniversity': 1,
 'moscowinstituteofphysicsandtechnology': 1,
 'universityofmurcia': 1,
 'nagasakiuniversity': 1,
 'universityofnairobi': 1,
 'nationalchengchiuniversity': 1,
 'nationalchungchenguniversity': 1,
 'nationalchunghsinguniversity': 1,
 'nationaltaipeiuniversityoftechnology': 1,
 'nationaluniversityofcrdoba': 1,
 'nationaluniversityofscienceandtechnologymisis': 1,
 'nationaluniversityofsciencesandtechnology': 1,
 'niigatauniversity': 1,
 'northumbriauniversity': 1,
 'northwesternpolytechnicaluniversity': 1,
 'nottinghamtrentuniversity': 1,
 'oaklanduniversity': 1,
 'oceanuniversityofchina': 1,
 'ohiouniversity': 1,
 'okayamauniversity': 1,
 'osakaprefectureuniversity': 1,
 'universityofpardubice': 1,
 'parissorbonneuniversityparis4': 1,
 'universityofpatras': 1,
 'universityofpcs': 1,
 'pontificalcatholicuniversityofparan': 1,
 'pontificalcatholicuniversityofriograndedosulpucrs': 1,
 'pontificalcatholicuniversityofvalparaso': 1,
 'princeofsongklauniversity': 1,
 'qataruniversity': 1,
 'riodejaneirostateuniversityuerj': 1,
 'rochesterinstituteoftechnology': 1,
 'saitamauniversity': 1,
 'universityofsalford': 1,
 'universityofsantiagochileusach': 1,
 'sopaulostateuniversityunesp': 1,
 'savitribaiphulepuneuniversity': 1,
 'universityofscienceandtechnologybeijing': 1,
 'sejonguniversity': 1,
 'shahidbeheshtiuniversity': 1,
 'shanghaiuniversity': 1,
 'shantouuniversity': 1,
 'sheffieldhallamuniversity': 1,
 'shinshuuniversity': 1,
 'showauniversity': 1,
 'sichuanuniversity': 1,
 'universityofsilesiainkatowice': 1,
 'slovakuniversityoftechnologyinbratislava': 1,
 'soganguniversity': 1,
 'sophiauniversity': 1,
 'universityofsouthafrica': 1,
 'southernfederaluniversity': 1,
 'universityofsouthernmississippi': 1,
 'universityofsouthernqueensland': 1,
 'suezcanaluniversity': 1,
 'sultanqaboosuniversity': 1,
 'suranareeuniversityoftechnology': 1,
 'universityofszeged': 1,
 'taipeimedicaluniversity': 1,
 'tarasshevchenkonationaluniversityofkyiv': 1,
 'technicaluniversityofmadrid': 1,
 'universityoftehran': 1,
 'universityoftexasatelpaso': 1,
 'texastechuniversity': 1,
 'tokaiuniversity': 1,
 'tokushimauniversity': 1,
 'tokyouniversityofmarinescienceandtechnology': 1,
 'tokyouniversityofscience': 1,
 'tomskstateuniversity': 1,
 'tottoriuniversity': 1,
 'toyohashiuniversityoftechnology': 1,
 'universitikebangsaanmalaysia': 1,
 'universitiputramalaysia': 1,
 'universitisainsmalaysia': 1,
 'universititeknologimara': 1,
 'uralfederaluniversity': 1,
 'vnkarazinkharkivnationaluniversity': 1,
 'vilniusuniversity': 1,
 'warsawuniversityoftechnology': 1,
 'universityofwestbohemia': 1,
 'universityofthewestofengland': 1,
 'westuniversityoftimioara': 1,
 'universityofwestminster': 1,
 'xidianuniversity': 1,
 'yeungnamuniversity': 1,
 'yldztechnicaluniversity': 1,
 'yokohamacityuniversity': 1,
 'yokohamanationaluniversity': 1}

In [52]:
len(twice)

408

### 13. The universities that, in any year, have the same position in all three rankings (they must have the same position in a year).

Si richiama la funzione **norm_rank** costruita nel punto 4. Si utilizza la funzione copy() per evitare il warning *SettingWithCopyWarning*.

In [63]:
t_pos=times[['world_rank','university_name','year','uni_id']].copy()
t_pos['w_rank']=norm_rank(t_pos['world_rank'])
t_pos.head()

,world_rank,university_name,year,uni_id,w_rank
0,1,Harvard University,2011,harvarduniversity,1.0
1,2,California Institute of Technology,2011,californiainstituteoftechnology,2.0
2,3,Massachusetts Institute of Technology,2011,massachusettsinstituteoftechnology,3.0
3,4,Stanford University,2011,stanforduniversity,4.0
4,5,Princeton University,2011,princetonuniversity,5.0

In [64]:
s_pos=shanghai[['world_rank','university_name','year','uni_id']].copy()
s_pos['w_rank']=norm_rank(s_pos['world_rank'])
s_pos.head()

,world_rank,university_name,year,uni_id,w_rank
0,1,Harvard University,2005,harvarduniversity,1.0
1,2,University of Cambridge,2005,universityofcambridge,2.0
2,3,Stanford University,2005,stanforduniversity,3.0
3,4,"University of California, Berkeley",2005,universityofcaliforniaberkeley,4.0
4,5,Massachusetts Institute of Technology (MIT),2005,massachusettsinstituteoftechnologymit,5.0

In [65]:
c_pos=cwur[['world_rank','university_name','year','uni_id']].copy()
c_pos['w_rank']=norm_rank(c_pos['world_rank'])
c_pos.head()

,world_rank,university_name,year,uni_id,w_rank
0,1,Harvard University,2012,harvarduniversity,1.0
1,2,Massachusetts Institute of Technology,2012,massachusettsinstituteoftechnology,2.0
2,3,Stanford University,2012,stanforduniversity,3.0
3,4,University of Cambridge,2012,universityofcambridge,4.0
4,5,California Institute of Technology,2012,californiainstituteoftechnology,5.0

In [66]:
same_ts=pd.merge(t_pos,s_pos,on=['uni_id','year','w_rank'],suffixes=['_t','_s'])
same_ts

,world_rank_t,university_name_t,year,uni_id,w_rank,world_rank_s,university_name_s
0,1,Harvard University,2011,harvarduniversity,1.0,1,Harvard University
1,2,Stanford University,2012,stanforduniversity,2.0,2,Stanford University
2,9,University of Chicago,2012,universityofchicago,9.0,9,University of Chicago
3,11,Yale University,2012,yaleuniversity,11.0,11,Yale University
4,96,Michigan State University,2012,michiganstateuniversity,96.0,96,Michigan State University
5,2,Stanford University,2013,stanforduniversity,2.0,2,Stanford University
6,11,Yale University,2013,yaleuniversity,11.0,11,Yale University
7,15,University of Pennsylvania,2013,universityofpennsylvania,15.0,15,University of Pennsylvania
8,35,"University of California, Santa Barbara",2013,universityofcaliforniasantabarbara,35.0,35,"University of California, Santa Barbara"
9,6,Princeton University,2014,princetonuniversity,6.0,6,Princeton University
10,9,University of Chicago,2014,universityofchicago,9.0,9,University of Chicago
11,11,Yale University,2014,yaleuniversity,11.0,11,Yale University
12,12,"University of California, Los Angeles",2014,universityofcalifornialosangeles,12.0,12,"University of California, Los Angeles"
13,16,University of Pennsylvania,2014,universityofpennsylvania,16.0,16,University of Pennsylvania
14,5,University of Cambridge,2015,universityofcambridge,5.0,5,University of Cambridge
15,12,"University of California, Los Angeles",2015,universityofcalifornialosangeles,12.0,12,"University of California, Los Angeles"
16,29,University of Illinois at Urbana-Champaign,2015,universityofillinoisaturbanachampaign,29.0,29,University of Illinois at Urbana-Champaign

In [67]:
same_tsc=pd.merge(same_ts,c_pos,on=['uni_id','year','w_rank'])
same_tsc[['w_rank','year','uni_id','university_name']]

   w_rank  year              uni_id      university_name
0     2.0  2013  stanforduniversity  Stanford University